* {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
}

#slideshow {
  width: 17%;
}

.smaller-table {
  width: 83%;
}


/*Used by Admin page*/
table {
  border-collapse: collapse;
  text-align: center;
  font-size: 1.25em;
  float: left;
}

table, th, td {
  border: 1px solid gray;
}

