/*login.html
*/

.loginInfo {
    width: 70%;
    margin-left:15%;
}

/*admin.html
*/

#addButton {
    margin-bottom: 10px;
}

.dropdownAlignment {
    float: none;
}

.dropdownCenter {
    text-align:center;
}