/* General Styles */
* {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

/* login.html
*/

.loginInfo {
  width: 70%;
  margin-left: 15%;
}

/* admin.html
*/
table {
  border-collapse: collapse;
  text-align: center;
  font-size: 1.25em;
  float: left;
}

table, th, td {
  border: 1px solid gray;
}

.addButton {
  margin-bottom: 10px;
}

.dropdownAlignment {
  float: none;
}

.dropdownCenter {
  text-align: center;
}

#userTypeDropdown, #recentDropdown, #semesterDropdown {
  font-weight: bold;
}

/* Course Panel Styles
*/
.panel > .panel-heading-green {
  background-color: rgba(34, 139, 34, 0.3); /* green */
  color: black;
  font-weight: bold;
}

.panel > .panel-heading-yellow {
  background-color: rgba(218, 218, 11, 0.3); /* yellow */
  color: black;
  font-weight: bold;
}

.panel > .panel-heading-red {
  background-color: rgba(138, 7, 7, 0.3); /* red */
  color: black;
  font-weight: bold;
}

.panel > .panel-heading-blue {
  background-color: rgba(33, 129, 194, 0.3); /* blue */
  background-image: none;
  color: black;
  font-weight: bold;
}

.panel > .panel-heading-dark-blue {
  /*color: #0275D8 !important;
    background-color: white !important;*/
  color: white !important;
  background-color: #003d7a !important;
  background-image: none;
  font-weight: bold;
}

/* Other Panel Coloring Options for Schedule page */
.panel > .panel-heading-maroon {
  color: gold !important;
  background-color: maroon !important;
  background-image: none;
  font-weight: bold;
}

.bg-gold {
  background-color: gold;
}

.panel > .panel-heading-gold {
  color: maroon !important;
  background-color: gold !important;
  background-image: none;
  font-weight: bold;
}

.bg-maroon {
  background-color: maroon;
  color: gold;
}

.offeringLabel {
  font-weight: bold;
}

.rightAlign {
  float: right;
}

/* Used by main navigation bar */
#navigationBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

li.mainNavBarItem {
  float: left;
}

li.mainNavBarItem a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 14px 16px;
}

li.mainNavBarItem a:hover {
  background-color: maroon;
  color: gold;
}
