* {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
}

#slideshow {
  width: 17%;
}

.smaller-table {
  width: 83%;
}

#navigationBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

/* Used by main navigation bar */

li.mainNavBarItem {
  float: left;
}

li.mainNavBarItem a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 14px 16px;
}

li.mainNavBarItem a:hover {
  background-color: maroon;
  color: gold;
}

/*Used by Admin page*/
table {
  border-collapse: collapse;
  text-align: center;
  font-size: 1.25em;
  float: left;
}

table, th, td {
  border: 1px solid gray;
}

